.hero-equipe::before {
  background-image: url(../assets/backgrounds/EquipeBackgrounds.png);
  background-position: 100% 100%;
  background-size: 60%;
}

.profile-picture::before {
  background-color: var(--primary-3);
}

.equipe-profile:hover .profile-data {
  background-color: var(--equipe-bg);
}

.profile-name {
  color: var(--primary);
}

.profile-role {
  font-size: calc(var(--size-sm) - 2px);
  color: var(--text-light);
}

@media only screen and (min-width: 1000px) {
  .hero-equipe::before {
    background-size: contain;
  }
}