:root {
  --white: #fff;
  --black: #000;
  --text: #605C5D;
  --text-light: #807B76;
  --primary: #D82255;
  --primary-1: #D822551A;
  --primary-3: #D822554D;

  --menu-bg: #000000e6;
  --dropdown-bg: #D822550D;
  --separator: #DBDBDB;
  --section-bg: #FAFAFA;

  --size-xs: .5rem;
  --size-xsm: .75rem;
  --size-sm: 1rem;
  --size-smd: 1.5rem;
  --size-md: 2rem;
  --size-xmd: 2.5rem;
  --size-lg: 3rem;
  --size-xl: 4rem;
  --size-xxl: 6rem;
  --size-xxxl: 7rem;

  --hero-pd-top: 8rem;
  --hero-pd-bot: 8rem;

  --font: 'Poppins', sans-serif;
  --fw-normal: 400;
  --fw-bold: 500;
  --fw-bolder: 600;
}

html,
body {
  font-family: var(--font);
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: var(--size-sm);
}

.titulo {
  color: var(--primary);
  font-size: var(--size-smd);
  font-weight: var(--fw-bolder);
  line-height: 1.2;
  margin-bottom: var(--size-md);
}

.descricao {
  color: var(--text);
  font-size: var(--size-sm);
  font-weight: var(--fw-normal);
}

.btn {
  background: transparent;
  border: 2px solid var(--primary);
  border-radius: calc(var(--size-xs) - 2px);
  padding: var(--size-xs) var(--size-sm);
  font-size: var(--size-sm);
  color: var(--primary);
  cursor: pointer;
  text-transform: none;
}

.btn:hover {
  background: var(--primary);
  color: var(--white);
}

.btn-white {
  border-color: var(--white);
  color: var(--white);
}

.btn-white:hover {
  background-color: var(--white);
  color: var(--primary);
}

.btn-fill {
  background: var(--primary);
  color: var(--white);
}

.btn-fill:hover {
  background: var(--white);
  color: var(--primary);
}

.icone {
  width: var(--size-sm);
}

@media only screen and (min-width: 1000px) {
  .container {
    padding: 0 var(--size-xmd);
    max-width: 80vw;
  }

  .titulo {
    font-size: var(--size-md);
  }

  .descricao {
    font-size: var(--size-sm);
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 70vw;
  }
}