.hero {
  background-color: var(--primary);
  padding-block: var(--size-md);
  position: relative;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero .titulo {
  margin-bottom: var(--size-sm);
}

.hero .sub-titulo {
  font-weight: var(--fw-normal);
  max-width: 60%;
}

.hero .titulo,
.hero .sub-titulo {
  color: var(--white);
}

.metodologia,
.equipe,
.servicos,
.projetos,
.projeto {
  padding-block: var(--size-md);
  background-color: var(--section-bg);
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding-block: var(--size-xxxl);
  }
}