.hero {
  background-color: var(--primary);
  padding-block: var(--size-md);
  position: relative;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-metodologia::before {
  background-image: url(../assets/MetodologiaBackground.jpg);
  background-position: 250%;
  background-size: 80%;
}

.hero-equipe::before {
  background-image: url(../assets/EquipeBackground.svg);
  background-position: bottom right;
  background-size: 70%;
}

.hero .titulo {
  margin-bottom: var(--size-sm);
}

.hero .sub-titulo {
  font-weight: var(--fw-normal);
  max-width: 60%;
}

.hero .titulo,
.hero .sub-titulo {
  color: var(--white);
}

.metodologia,
.equipe {
  padding-block: var(--size-md);
  background-color: var(--section-bg);
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding-block: var(--size-xxxl);
  }

  .hero-metodologia::before {
    background-position: 120%;
    background-size: 50%;
  }

  .hero-equipe::before {
    background-size: contain;
  }
}